/* commons */

* {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

.mt-20 {
    margin-top: 20px;
}

.mt-10 {
    margin-top: 10px;
}

.clearfix::after{
    content: "";
    clear: both;
    display: table;
}

.left {
    float: left;
}

body {
    font-family: font-family: 'Roboto', sans-serif;
}

/* header */
.header-container {
    width: 80%;
}

#logo-container {
    height: 100px;
    }

#logo {
    height: 80%;
    padding: 10px 10px 0 0;
    border-right: 1px solid rgba(128, 128, 128, 0.5);
}

nav {
    height: 50px;
    line-height: 50px;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: rgba(128, 128, 128, 0.5);
    margin-right: 10px;
}

nav ul {
    list-style: none;
}


/* jumbotron */
.jumbotron-container {
    width: 80%;
    height: 450px;
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: 100% 50%;
    background-repeat: no-repeat;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.2);
    background-blend-mode: multiply;
    position: relative;
}

.testo-jumbotron {
    width: 50%;
    height: 150px;
    position: absolute;
    bottom: 10%;
    left: 5%;
}

.testo-jumbotron h2 {
    font-size: 30px;
    color: seashell;
}

.testo-jumbotron h4 {
    color: seashell;
}

/* main */
.main-container {
    width: 80%;
}

.top-container {
    width: 100%;
    height: 15%;
    padding-top: 20px;
    color: black;
}

.top-container h1 {
    font-size: 40px;
}

.top-container h4 {
    color: rgba(128, 128, 128, 0.5);
}

.immagine-col {
    background-size: cover;
    background-position: 100% 50%;
    background-color: rgba(0, 0, 0, 0.2);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    height: 200px;
    width: 100%;
    border-radius: 20px;
}

.immagine-sinistra {
    background-image: url(../img/img-1.jpg);
}

.immagine-centrale {
    background-image: url(../img/banner-2.jpg);
}

.immagine-destra {
    background-image: url(../img/img-3.jpg);
}

.titolo-colonna {
    margin: 20px 0px 10px;
    font-size: 18px;
    color: rgba(3, 3, 3, 0.5);
}

.testo-colonne {
    font-size: 12px;
    color: rgba(128, 128, 128, 0.5);
}

.colonna-sinistra, .colonna-destra {
    width: 20%;
    height: 100%;
    float: left;
}

.colonna-centrale {
    width: 56%;
    height: 100%;
    float: left;
    margin: 0 2%;
}

.central-container {
    height: 85%;
    padding-bottom: 2%;
    padding-top: 2%;
}

/* footer */
.footer-container {
    width: 80%;
    height: 75px;
}

/* debug */
/* header .debug {
    background-color: blueviolet;
} */

/* section .debug {
    background-color: burlywood;
} */

/* main div.debug {
    background-color: darkblue;
} */

/* .main-container.debug {
    height: 700px;
} */

/* div .top-container.debug, */
/* div .colonna-sinistra.debug,
div .colonna-destra.debug,
div .colonna-centrale.debug {
    background-color: darkcyan;
} */

.footer-container.debug {
    background-color: darkmagenta;
}